body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 390px;
}
/* Estilos do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.profile-circle {
    width: 70px;
    height: 70px;
    background-color: lightblue;
    border-radius: 50%;
}

.menu-icon {
    cursor: pointer;
}

.menu-icon img {
    width: 40px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 40px; /* Ajuste o tamanho da imagem conforme necessário */
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: lightblue;
    transition: left 0.3s ease-in-out;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* Estilos para mostrar o menu quando o ícone é clicado */
.menu-active {
    left: 0;
}

/* Estilos das seções */
main {
    padding: 20px;
    text-align: center;
}

.actions{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.notifications{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
}

.h2-notifications{
    width: 70%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center; /* Espaçamento igual entre o texto e a imagem */
    padding: 0 15px;
}

.h2-notification img {
    width: 30px; /* Tamanho da imagem */
    height: 30px; /* Tamanho da imagem */
}

.recent-access {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.h2-recent-access{
    width: 70%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center; /* Espaçamento igual entre o texto e a imagem */
    padding: 0 15px;
}

.h2-recent-access img {
     width: 50%; /* Ajuste o tamanho da imagem conforme necessário */ /* Ajuste o tamanho da imagem conforme necessário */
}
h2 {
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

/* Estilos dos botões de ação */
/*.action-button {
    background-color: lightblue;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}*/

.action-button {
    text-align: center;
    flex: 1; /* Faz os botões ocuparem o mesmo espaço */
    margin: 0 5px; /* Espaço entre os botões */
    padding: 10px; /* Espaço interno dos botões */
}

.action-button img {
    width: 50px; /* Tamanho da imagem */
    height: 50px; /* Tamanho da imagem */
    display: block; /* Para centralizar a imagem horizontalmente */
    margin: 0 auto; /* Para centralizar a imagem horizontalmente */
}

.action-button span {
    display: block;
    margin-top: 5px; /* Espaço entre a imagem e o texto */
    font-size: 14px;
}

/* Estilos dos botões fixos no rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: lightblue;
    width: 390px;
}

.footer-button {
    background-color: lightblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}